<div class="header" style="padding: 10px;
                text-align: center; 
                font-style: normal;
                font-weight: normal;
                font-size: 38px;
                line-height: 45px;
                color: #000000;
                left: 37.5%;">Four Salud<img src="img/hospital-logo.png"
          style="width: 70px; margin-bottom: 10px; margin-left: 700px;">
</div>