<div class="sidebar">
    <h2>Menú</h2>
     <li><a href="/inicio" style="text-decoration: none;">Inicio</a></li>
     <li><a href="/inicio" style="text-decoration: none;">Doctores por enfermedad</a></li>
     <li><a href="/inicio" style="text-decoration: none;">Enfermedades por atender</a></li>
     <li><a href="/inicio" style="text-decoration: none;">Camas libres</a></li>
     <li><a href="/inicio" style="text-decoration: none;">Ingresar pacientes</a></li>
     <li><a href="/inicio" style="text-decoration: none;">Sobre Nosotros</a></li>
     <li><a href="/" style="text-decoration: none;">Salir</a></li>
</div>