<div class="sidebar">
    <h2><i class="fas fa-bars"></i>Menú</h2>
    <li><a href="/inicio" style="text-decoration: none;"><i class="fas fa-home"></i>Inicio</a></li>
    <li><a href="/doctores-enfermedad" style="text-decoration: none;"><i class="fas fa-heartbeat"></i>Doctores por enfermedad</a></li>
    <li><a href="/enfermedad" style="text-decoration: none;"><i class="fas fa-flask"></i>Enfermedades por atender</a></li>
    <li><a href="/paciente" style="text-decoration: none;"><i class="fas fa-bed"></i>Pacientes</a></li>
    <li><a href="/agregar-paciente" style="text-decoration: none;"><i class="fas fa-user"></i>Ingresar pacientes</a></li>
    <li><a href="/sobre-nosotros" style="text-decoration: none;"><i class="fas fa-users"></i>Sobre Nosotros</a></li>
    <li><a href="/" style="text-decoration: none;"><i class="fas fa-power-off"></i>Salir</a></li>
</div>