<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        #Titulo {
            padding: 30px;
            text-align: center;
            font-style: normal;
            font-weight: normal;
            font-size: 38px;
            line-height: 45px;
            color: #000000;
            left: 37.5%;
        }

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }

        .boton-ingresar {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }
    </style>
    <title>Ingresar</title>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h1 id="Titulo">Sistema - Four Salud</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="logo">
                    <img src="img/hospital-logo.png" alt="Hospital Logo">
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <form method="get" action="#">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Usuario:</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Usuario"
                            style="background-color: #C4C4C4;">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Contraseña:</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña"
                            style="background-color: #C4C4C4;">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Recordar mi sesión</label>
                    </div>
                    <div class="boton-ingresar">
                        <button id="btn-ingresar" type="submit" class="btn btn-danger">Ingresar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script>
        function iniciarSesion() {
            let username = document.getElementById("exampleFormControlInput1").value;
            let password = document.getElementById("exampleInputPassword1").value;

            var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
            var ajaxUrl = './api/users/login';
            var data = `username=+${username}+&password=+${password}`;
            request.open('POST', ajaxUrl, true);
            request.setRequestHeader('Content-type', 'Application/x-www-form-urlencoded');
            request.send(data);
            request.onreadystatechange = function () {
                if (request.readyState == 4 && request.status == 200) {
                    console.log(request.responseText);
                    if(request.responseText == "true"){
                        window.location.replace("./inicio");
                    }
                    else{
                        alert("Credenciales incorrectas");
                    }
                }
            }
        }

        let btn = document.getElementById("btn-ingresar");
        btn.addEventListener("click", iniciarSesion, true);
    </script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


</body>